#!/bin/bash

BOARD=$1

# change BOARD name to BASEBOARD
case $BOARD in

    "volteer")
    BASEBOARD="volteer"
    ;;

    "eldrid")
    BASEBOARD="volteer"
    ;;
# ----------------------- #
    "brya")
    BASEBOARD="brya"
    ;;

    "gimble")
    BASEBOARD="brya"
    ;;

    "primus")
    BASEBOARD="brya"
    ;;

    "crota")
    BASEBOARD="brya"
    ;;
# ----------------------- #
    "brask")
    BASEBOARD="brask"
    ;;

    "moli")
    BASEBOARD="brask"
    ;;
# ----------------------- #
    "nereid")
    BASEBOARD="nissa_ite"
    ;;

    "joxer")
    BASEBOARD="nissa_ite"
    ;;
# ----------------------- #
    *)
    # echo -e "\033[1;31mServod: Error BOARD!\033[0m"
    echo -e "\n\e[1;6;31;47mError: Error servod BOARD!\e[0m\n"
    exit
    ;;

esac