#!/bin/bash

# printf "Please input your \033[1;96mBOARD\033[0m name: "
# read BOARD

BOARD=$1
[[ $BOARD = "" ]]&& printf "Please input your \033[1;96mBOARD\033[0m name: "  && read BOARD

[[ $BOARD = "" ]]&& echo -e "\n\e[1;6;31;47mERROR: You need set BOARD !\e[0m\n" && exit 1

case $BOARD in

# ----------volteer---------- #
    volteer | eldrid )
    ;;
# -----------brya------------ #
    brya | gimble | primus | crota )
    ;;
# -----------brask----------- #
    brask | moli )
    ;;
# ---------nissa_ite--------- #
    nissa_ite | nereid | joxer )
    ;;
# ----------default---------- #
    *)
    echo -e "\n\e[1;6;31;47mError: Wrong BOARD !\033[0m"
    exit
    ;;

esac