#!/bin/bash

BOARD=$1

# change BOARD name to BASEBOARD
case $BOARD in

# ----------volteer---------- #
    volteer | eldrid )
    BASEBOARD="volteer"
    ;;
# -----------brya------------ #
    brya | gimble | primus | crota )
    BASEBOARD="brya"
    ;;
# -----------brask----------- #
    brask | moli )
    BASEBOARD="brask"
    ;;
# ---------nissa_ite--------- #
    nissa | nereid | joxer )
    BASEBOARD="nissa"
    ;;
# ----------default---------- #
    *)
    echo -e "\n\e[1;6;31;47mError: Wrong BOARD !\033[0m"
    exit 66
    ;;

esac

echo -n $BASEBOARD